/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,matrix-transform = &five_column_transform;
    };
};

/ {
        combos {
                compatible = "zmk,combos";
                combo_bspc {
                        timeout-ms = <50>;
                        key-positions = <12 17>;
                        layers = <0 4>;
                        bindings = <&kp BSPC>;
                };
                combo_ret {
                        timeout-ms = <50>;
                        key-positions = <13 16>;
                        layers = <0 4>;
                        bindings = <&kp RET>;
                };
                combo_return_to_default_layer {
                        timeout-ms = <50>;
                        key-positions = <4 5>;
                        layers = <4>;
                        bindings = <&tog 4>;
                };
                combo_q {
                        timeout-ms = <50>;
                        key-positions = <10 19>;
                        layers = <0>;
                        bindings = <&kp Q>;
                };
                combo_p {
                        timeout-ms = <50>;
                        key-positions = <11 18>;
                        layers = <0>;
                        bindings = <&kp P>;
                }; 
        };
};

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";

                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//     LCtrl           W             E             R             T                        Y             U             I             O           LAlt      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       A             S             D             F             G                        H             J             K             L           ;   Ж  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       Z             X             C             V             B                        N             M             <             >            ?   ,
//                                                                                                                    ,             .            /   .
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                  ESC          SPACE        LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 

            bindings = <
       &kp LCTRL &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp LALT          
       &kp A     &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI       
       &kp Z     &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH       
                 &kp ESC &kp SPACE &mo 1   &mo 2 &kp LSHFT &mt LWIN TAB
            >;
        };


        lower_layer {
            display-name = "NUMBER";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       1             2             3             4             5                        6             7             8             9             0      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                   `   Ё           -             =            🔊                                   [   Х          '   Э         ]   Ъ     Print Screen 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                                                              🔉                                   Insert         Home         Page Up        |   /
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                  ESC          SPACE        LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
            bindings = <
        &kp N1 &kp N2    &kp N3    &kp N4    &kp N5           &kp N6  &kp N7   &kp N8   &kp N9    &kp N0
        &none  &kp GRAVE &kp MINUS &kp EQUAL &kp C_VOL_UP     &none   &kp LBKT &kp SQT  &kp RBKT  &kp PSCRN
        &none  &none     &none     &none     &kp C_VOL_DN     &none   &kp INS  &kp HOME &kp PG_UP &kp PIPE 
                         &trans    &trans    &trans           &trans  &trans   &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       !           @  "           #  №          $  ;           %                      ^  :           &  ?           *             (             )      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                     ~             _             +                                                    {             "             }        LCtrl + PS 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                                                                                                    Delete         End         Page Down        \
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                  ESC         Left Alt      LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
            bindings = <
        &kp EXCL &kp AT      &kp HASH  &kp DLLR &kp PRCNT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR      
        &none    &kp TILDE   &kp UNDER &kp PLUS &none        &none     &kp LBRC &kp DQT   &kp RBRC  &kp LC(PSCRN)
        &none    &none       &none     &none    &none        &none     &kp DEL  &kp END   &kp PG_DN &kp BSLH     
                    	     &trans     &kp LALT &trans       &trans    &trans   &trans
            >;
        };

        config_layer {
                        label = "CONFIG";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       F1            F2            F3           F4            F5                       F6             F7            F8            F9           F10      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//                                 LCtrl          LAlt                                   F11            ⬅️            ⬇️           ⬆️           ➡️
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//      ᛒ 0           ᛒ 1                       ᛒ Clear        GAME_L                    F12             
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                  ESC                       LAYER_1                  LAYER_2        LSHFT        LWIN/TAB                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
                        bindings = <
       &kp F1         &kp F2       &kp F3       &kp F4      &kp F5    &kp F6  &kp F7   &kp F8   &kp F9 &kp F10   
       &none          &none        &kp LCTRL    &kp LALT    &none     &kp F11 &kp LEFT &kp DOWN &kp UP &kp RIGHT 
       &bt BT_SEL 0   &bt BT_SEL 1 &none        &bt BT_CLR  &tog 4    &kp F12 &none    &none    &none  &none     
                          	       &trans       &none       &trans    &trans  &trans   &trans
                        >;
                };

        game_layer {
                        label = "GAME";
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ 
//       Q             W             E             R             T                        Y             U             I             O             P      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       A             S             D             F             G                        H             J             K             L             ;  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 
//       Z             X             C             V             B                        N             M             ,             .             /   
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤          ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯ 
//                                 LCTRL         SPACE         LSHIFT                   TAB           LSHFT          ESC                                          
//                            ╰─────────────┴─────────────┴─────────────╯          ╰─────────────┴─────────────┴─────────────╯ 
                        bindings = <
       &kp Q &kp W &kp E &kp R &kp T   &kp Y  &kp U  &kp I     &kp O   &kp P          
       &kp A &kp S &kp D &kp F &kp G   &kp H  &kp J  &kp K     &kp L   &kp SEMI       
       &kp Z &kp X &kp C &kp V &kp B   &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH       
       &kp LCTRL &kp SPACE &kp LSHFT    &kp TAB  &kp LSHFT &kp ESC
            >;
        };
    };
};
